<h3> <%= @merchant.name %> Coupins </h3>
<p><%= link_to "Create New Coupon", new_merchant_coupon_path(@merchant), method: :get %></p>
<p><%= link_to "Back to My Dashboard", merchant_path(@merchant) %></p>


<div class="active_coupons">
<h4> Active Coupons </h4>
<% @merchant.coupons.filter_active.each do |c| %>
  <p><%= link_to "#{c.name}", merchant_coupon_path(@merchant, c.id) %></p>
  <p><%= c.discount_type %></p>
  <p><%= c.discount_amount %></p>
<% end %>
</div>

<div class="inactive_coupons">
<h4> Inactive Coupons </h4>
<% @merchant.coupons.filter_inactive.each do |c| %>
  <p><%= link_to "#{c.name}", merchant_coupon_path(@merchant, c.id) %></p>
  <p><%= c.discount_type %></p>
  <p><%= c.discount_amount %></p>
<% end %>
</div>

<ol>
<h4> Upcoming Holidays </h4>
<% @holidays.each do |holiday| %>
  <li>Holiday: <%= holiday.name %></li>
  <p>Date: <%= holiday.date %></p>
<% end %>
</ol>