<h3> <%= @coupon.name %> Coupin Deets %> </h3>

<p>Name: <%= @coupon.name %></p>
<p>Code: <%= @coupon.code %></p>
<p>Discount Type: <%= @coupon.discount_type %></p>
<p>Discount Amount: <%= @coupon.discount_amount %></p>
<p>Number of Times Used: <%= @coupon.usage_count %></p>